container{
    width: 100%;
    height: 60vh;
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color: rgb(226, 252, 34);
    font-family: 'Avenir';
}
body{
    background-color: black;
    padding-top: 50px;
    color: turquoise;
    text-align: center;
    font-family: 'Avenir';
}
nav{
    align-items: top;
    align-content: left;
    color: white;
    padding-left: 1cm;
    word-spacing: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: greenyellow;
    text-align: center;
    font-family: 'Andale Mono';
    font-size: small;
  }
 
a:link {
    color: green;
    background-color: transparent;
    text-decoration: dotted;
} 

.fixed-area {
    position: fixed;
    /* top: 4px;  Adjust the vertical position as needed */
    /* left: 20px; Adjust the horizontal position as needed */
    /* width: 300px; Set a fixed width for the text area */
    /* height: auto; */
    /* background-color: rgba(255, 255, 255, 0.8); Optional: add background color to see the fixed area */
    padding: 10px;
    z-index: 100; /* Ensures it stays on top of other elements */
}

.auto-type {
    font-size: 24px; /* Adjust the font size */
    line-height: 1.5;
    white-space: nowrap; /* Prevents the text from wrapping */
}
