#container{
    width: 100%;
    height: 60vh;
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
span{
    color: yellow;
    font-family: 'Avenir';
}
body{
    background-color: black;
    padding-top: 50px;
    color: turquoise;
    text-align: center;
    font-family: 'Avenir';
}
nav{
    align-items: top;
    align-content: left;
    color: white;
    padding-left: 1cm;
    word-spacing: 20px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: greenyellow;
    text-align: center;
    font-family: 'Andale Mono';
    font-size: small;
  }
 
a:link {
    color: green;
    background-color: transparent;
    text-decoration: dotted;
} 
