container {
    width: 100%;
    height: 60vh;
    background: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    color: yellow;
    font-family: 'Avenir';
}

body {
    background-color: white;
    padding-top: 50px;
    color: black;
    text-align: center;
    font-family: 'Avenir';
} 

nav {
    display: flex;
    justify-content: space-between; /* Align items to left and right */
    align-items: center; /* Center vertically */
    padding-left: 1cm;
    color: white;
    word-spacing: 20px;
}

.navbar-left {
    display: flex;
    gap: 10px; /* Space between the left navbar items */
}

.navbar-right {
    display: flex;
    justify-content: flex-end; /* Push the resume button to the right */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: greenyellow;
    text-align: center;
    font-family: 'Andale Mono';
    font-size: small;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: dotted;
}

.fixed-area {
    position: fixed;
    padding: 10px;
    z-index: 100;
}

.auto-type {
    font-size: 24px;
    line-height: 1.5;
    white-space: nowrap;
    color: orangered
}

/* Updated resume button */
.resume-button {
    display: inline-block;
    background-color: #f2ff00; /* Button color */
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resume-button:hover {
    background-color: turquoise; /* Darker shade on hover */
}

.resume-button i {
    margin-right: 8px; /* Spacing between icon and text */
}
